.Navigation {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 600;
  height: 100vh;
  background-color: color(background);
  padding: 36px;
  width: $nav_width;
  box-shadow: -10px 0px 20px -2px rgba(0, 0, 0, 0.75);
}

.Navigation__title {
  @include typography(header);
  margin-bottom: 32px;
}

.Navigation__list > li:not(:last-child) {
  margin-bottom: 20px;
}
.Navigation__link {
  font-size: 16px;
  text-decoration: none;
  font-weight: 400;
  margin-left: 8px;
}

.Navigation__link--active {
  font-weight: 600;
}
